body {margin: 0;}

.obramowanie {border-style: groove;
border-color: white;}

#klatka {
    position: relative;
    background-color: white;
}

.grzad {top: 0;}
.srzad {top: 200px;}
.drzad {top: 400px;}
.lstr{left: 0;}
.sstr{left: 200px;}
.pstr{left: 400px}
.kwadrat {
    position: absolute;
    width: 200px;
    height: 200px;
}

#czerwony {background-color: red;}
#niebieski {background-color: blue;}
#zielony {b-c}