body{
    margin: 0;
}

.obramowanie{
border-style: white;
}

#klatka{position: relative;
background-color: white;}

.kwadrat{position: absolute;}

#czerwony{
    background-color: red;
    top: 0;
    left: 0;
}