body {margin: 0;}
#klatka {position: relative;}
.grzad {top: 0;}
.srzad {top: 200px;}
.drzad {top: 400px;}
.lstr{left: 0;}
.sstr{left: 200px;}
.pstr{left: 400px}
.kwadrat {
    position: absolute;
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: white;}
.kolko{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 60px;
    border: 1px solid black;
    top: 50px;
    left: 50px;}

#czerwony, #czerwone{background-color: red;}
#niebieski, #niebieskie{background-color: blue;}
#zielony, #zielone{background-color: green;}
#zolty, #zolte{background-color: yellow;}
#czarny, #czarne{background-color: black;}
#pomaranczowy, #pomaranczowe{background-color: orange;}
#fioletowy, #fioletowe{background-color: purple;}
#szary, #szare{background-color: gray;}
#rozowy, #rozowe{background-color: pink;}


